.simple_form.edit_shop .form-group{
  width: 50%;
}

.simple_form.new_shop .form-group{
  width: 50%;
}

.simple_form.edit_product {
  width: 50%;

  .nested-fields div {
    display: inline-block;
  }

  #product_images {
    margin-bottom: 10px;
  }

  .links {
    margin-bottom: 5px;
  }
}


