<ul class="nav nav-stacked">
  <li role="presentation"><a href="#">Shop</a></li>
  <li role="presentation"><a href="#">Products</a></li>
  <li role="presentation"><a href="#">Categories</a></li>
  <li role="presentation"><a href="#">Orders</a></li>
</ul>